# Ignore all
*
.*
.*/
*.class
*.o
*.a
*.so
a.out
*.dSYM/

!*/
!*.c
!*.cc
!*.cpp
!*.h
!*.py
!*.hpp
!*.inl
!*.js
!*.html
!*.java
!*.sh
!*.jpeg
!*.jpg
!*.png
!*.ico
!*.txt
!*.handlebars
!*.hbs
!TODO
!README*
!/.gitignore

node_modules/
