@import "normalize"


#typography {
    margin-top: 50px;
}

.qtip-wikiki {
    max-width: 485px;
}

.qtip-wikiki img {
    max-height: 80vh;
    max-width: 80vw;
    float: left;
    margin: 0;
    padding: 0;
}

// .qtip-wiki p{
//     margin: 0;
// }

// .qtip-wiki h1 {
//     font-size: 20px;
//     line-height: 1.1;
//     margin: 0 0 5px;
// }


// .qtip-wiki .info{
//     overflow: hidden;
// }

// .qtip-wiki p.note{
//     font-weight: 700;
// }