<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sass Essentials</title>
    <link type="text/css" rel="stylesheet" href="ext/css/jquery.qtip.css" />
    <link type="text/css" rel="stylesheet" href="css/ajax-picture.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<section id="buttons">
    <div class="container">
        <form>
            <button type="button" class="btn-cool picture-list" alt="file" value="ff">목록가져오기</button>
            <button type="button" class="btn-hot download-selected-list" alt="file">Download</button>
        </form>
    </div><!-- container -->
</section>

<section id="typography">
    <div class="container">
        <div class="grid">
        </div>
    </div>
</section>


<script type="text/javascript" src="ext/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="ext/js/jquery.qtip.js"></script>
<script type="text/javascript" src="ext/js/imagesloaded.pkg.min.js"></script>

<script src="js/ajax-picture.js"></script>

</body>
</html>
