<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sass Essentials</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="ext/js/jquery-1.11.3.min.js"></script>
</head>
<body>

<section id="wrap">
    <ol class="xx">
    </ol>
    <ol class="yy">
    </ol>
</section>

<script src="js/myajax.js"></script>

</body>
</html>
