<!doctype html>
<html lang="en">
<head>
<style>
    img {
        height: 70px;
        width: auto;
        overflow: hidden;
    }
</style>
</head>
<body>
<div>
    <img src="img/testimg/1.jpg" alt="a">
    <img src="img/testimg/12.jpg" alt="a">
    <img src="img/testimg/2.jpg" alt="a">
    <img src="img/testimg/3.jpg" alt="a">
    <img src="img/testimg/10.jpg" alt="a">
    <img src="img/testimg/11.jpg" alt="a">
    <img src="img/testimg/12.jpg" alt="a">
    <img src="img/testimg/12.jpg" alt="a">
    <img src="img/testimg/a.jpeg" alt="a">
    <img src="img/testimg/3.jpg" alt="a">
    <img src="img/testimg/3.jpg" alt="a">
    <img src="img/testimg/3.jpg" alt="a">
    <img src="img/testimg/b.jpeg" alt="b">
    <img src="img/testimg/c.jpeg" alt="c">
</div>

<script>
    (function($){

    }(jQuery));    
</script>

</body>
</html>
