nav {
    // & means nav - http://sass-lang.com/documentation/file.SASS_REFERENCE.html#extend
	header & {
		background-color: darken($blue, 15%);
	}

	.branding {
		float: left;
		display: none;
        // if > 1000px display block
		@include break(1000px) {
			display: block;
		}
	}

    // branding class's h1 only
    .branding h1 {
		font-size: 2.75rem;
		overflow: hidden;
		margin: 0;
		color: $yellow;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@include clearfix;
	}

	ul li {
        // if > 760 px , float right
        @include break(760px) {
            float: right;
        }
		padding: 10px 5px;
	}

	ul li a {
		text-decoration: none;
		padding: 10px 5px;
		color: $color-backgrounds;

        // if ul li a : hover -> yellow
		&:hover {			
			color: $yellow;
		}
        
        // header -> ul li a : hover -> darken
		header &:hover {
			background-color: darken($blue, 20%);
		}

        // footer -> ul li a 's text color -> white
		footer & {
			color: white;
		}
	}

    // nav inside of footer 
	footer & {
		margin-top:20px;
		min-height: 200px;
		background-color: darken($blue, 15%);

        // delete nav inside of footer when 0 ~ 500 px
		@include break(0, 500px) {
			display: none;
		}
	}
}